* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.element-animation{
    opacity: 0;
    transform: translateY(20px);
}

.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
  }

body {
    background-color: #101010;
    overflow-x: hidden;
    font-family: 'Aeonik', sans-serif !important;
}   

select {
    font-size: 18px;
    color: #F8F8F8;
    background: transparent;
    border: none;
    font-family: 'Aeonik', sans-serif !important;
}

select:focus {
    outline: none;
}

::selection {
    background-color: #FDD33C;
    color: #101010;
}

.hammasi {
    display: none;
}

.skeleton {
    width: 100%;
    height: 100%;
    padding: 200px 120px;
}
.skeleton-header {
    display: flex;
    width: 20%;
    gap: 100px;
    height: 30px;
    border-radius: 50px;
    margin-bottom: 10px;
    animation: pulse 1.5s infinite;
}

.skeleton-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skeleton-line {
    height: 55px;
    width: 90%;
    background-color: #333;
    border-radius: 50px;
    animation: pulse 2s infinite;
}

.skeleton-line.short {
    width: 60%;
    height: 30px;
}

.skeleton-line.t {
    margin-top: 20px;
    animation: pulse 2s infinite;
}

.ske_vid {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    margin-top: 50px;
    background-color: #333;
    animation: pulse 2s infinite;
}

.ske_cards {
    width: 100%;
    gap: 20px;
    display: flex;
    border-radius: 10px;
    margin-top: 50px;
    animation: pulse 2s infinite;
}

.ske_card{
    width: 50%;
    border-radius: 10px;
    height: 500px;
    margin-top: 50px;
    animation: pulse 2s infinite;
}

.ske_con {
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    gap: 200px;
    border-radius: 10px;
}

.mid_ske {
    width: 70%;
    border-radius: 10px;
    animation: pulse 2s infinite;
}

.small {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    height: 500px;
    width: 30%;
}

.small div {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.very_mid_ske {
    width: 100%;
    height: 200px;
    animation: pulse 2s infinite;
    margin-top: 30px;
    border-radius: 10px;
}

.grid {
    width: 100%;
    justify-content: center;
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(3, 360px); /* 2 ta ustun, har biri 100px */
    grid-template-rows: repeat(2, 260px);    /* 3 ta qator, har biri 100px */
    gap: 10px; /* ixtiyoriy bo‘shliq */
}
.grid span {
    border-radius: 10px;
    animation: pulse 2s infinite;
}


.cards_ske {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.cards_ske {
    width: 33,3%;
    height: 100px;
    margin-top: 50px;
    border-radius: 10px;
    animation: pulse 2s infinite;
} 



/* Pulse animation */
@keyframes pulse {
    0% {
        background-color: #333;
    }
    50% {
        background-color: #444;
    }
    100% {
        background-color: #333;
    }
}


.circle {
    --circle-size: 40px;
    position: fixed;
    z-index: 2000;
    height: var(--circle-size);
    width: var(--circle-size);
    mix-blend-mode: difference;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
}

.element-animation {
    opacity: 0;
    transform: translateY(20px);
}

.vid {
    position: absolute;
    width: 100%;    
    z-index: -1;
}

.dig_vid {
    padding: 0;
    background-color: #101010;
}

.dig_video {
    padding: 0;
    margin-top: -94px;
}

/* a tegini butun blok uchun link qilish */
.box-link {
    color: inherit;
    display: block;
    text-decoration: none; /* linkning osti chizig'ini olib tashlash */
}

/* Bu holda, ichidagi elementlarga interaktivlikni bermaymiz */
.box_1 {
    pointer-events: none;
}

/* faqat .learn elementini interaktiv qilish */
.box_1 .learn {
    pointer-events: auto; /* Bu elementga sichqoncha bilan interaktivlikni yoqamiz */
    cursor: pointer; /* O'zgartirish kursori */
}

/* Agar boshqa elementlar uchun ham interaktivlikni kerak bo'lsa, ularni qayta faollashtirish */
.box_1 .left, .box_1 .right {
    pointer-events: auto;
}


.container {
    padding: 0 120px;
}

@font-face {
    font-family: 'Aeonik';
    src: url('AeonikTRIAL-Regular.otf');
}
.nav_dad {
    z-index: 1000;
    left: 0;
    width: 100%;
    height: 12%;
    position: fixed;
}

nav {
    width: 100%;
    background-color: #101010;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 580px;
}

.nav_box1 {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.nav_box2 i {
    display: none;
}

.nav_box1 p {
    padding: 4px 16px;
    cursor: pointer;
    text-decoration: none;
    color: #F8F8F8;
    font-family: 'Aeonik';
    font-size: 18px;
}

.use {
    text-decoration: none;
}

.nav_box2 {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav_box2 p {
    padding: 4px 16px;
    color: #F8F8F8;
    font-family: 'Aeonik';
    font-size: 18px;
}

.nav_box2 button {  
    padding: 10px;
    background: rgb(228,228,228);
    background: linear-gradient(0deg, rgba(228,228,228,1) 32%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
    font-size: 18px;
    font-family: 'Aeonik';
    border: none;
    border-radius: 3px;
}

.main {
    width: 100%;
    padding-top: 200px;
}

.inf {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.imguni{
    width: auto;
    height: 31.75px;
}


.part{
    color: #fff;
    font-weight: 900;
    font-family: 'Aeonik';
    font-size: 80px;
    margin-bottom: 25px;
}

.award {
    width: 60%;
    position: relative;
    color: #c5c5c5;
    font-family: 'Aeonik';
    font-size: 18px;
}

.award::after {
    position: absolute;
    content: "";
    display: inline-block;  
    background-color: #c5c5c5;
    width: 320px;
    height: 0.1px;
    bottom: 5px;
    right: -270px;
}

.awardplcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.contact {
    position: relative;
    font-family: 'Aeonik', sans-serif;
    color: #f8f8f8;
    font-size: 20px;
}

.btn_arrow{
    overflow: hidden; 
    width: 20px;
}

.uni_imgs:hover .arrows {
    left: 2px;
}

.arrows {
    transition: all .2s linear;
    position: relative;
    display: flex;
    gap: 5px;
    left: -20px;
}

.arrows span {
    display: flex;
    margin-top: 4px;
}

.uni_imgs {
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
}

.c_r {
    display: flex;
    flex-direction: row;
}

.c_r i {
    font-size: 40px;
    color: #F8F8F8;
}

.contact::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 26px;
    left: 0;
    transform-origin: right;
    background-color: #f8f8f8;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.contact:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.slide_dad {
    overflow-x: hidden;
    margin-bottom: 200px;
}

.slider {
    animation: slider linear infinite 200s;
    color: #fff;
    font-size: 50px;
    white-space: nowrap;
    font-family: 'Aeonik';
    display: flex;
    gap: 100px;
}

@keyframes slider {
     0%{
        transform: translateX(100%);
    }
     100%{
        transform: translateX(-520%);
    }
}

.with {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}


.bcg {
    background-color: #F8F8F8;
    width: 100%;
}


.with p {
    width: 60%;
    text-align: center;
    padding-left: 50px;
    font-family: 'Aeonik';
    font-weight: 600;
    color: #000;
    font-size: 50px;
}

.box_1 {
    display: flex;
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    margin-bottom: 40px;
    background-color: #F8F8F8;
}

.left {
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.web {
    font-family: 'Aeonik';
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 15px;
}

.ui {
    font-family: 'Aeonik';
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}

.pri {
    color: #414141;
    width: 56%;
    font-family: 'Aeonik';
    font-size: 17px;
}
.check_1 {
    display: flex;
    gap: 10px;
}

.check_1 p {
    display: flex;
    gap: 10px;
    align-items: center;
}

.log i {
    position: relative;
    top:2px;
    left: 0;
    font-size: 24px;
    font-weight: 1;
}

.we {
    color: #414141;
    width: 56%;
    font-family: 'Aeonik';
    font-size: 17px;
}

.check_2 {
    display: flex;
    gap: 10px;
}

.check_2 p {
    display: flex;
    gap: 10px;
    align-items: center;
}

.log_2 i {
    position: relative;
    top:2px;
    left: 0;
    font-size: 24px;
    font-weight: 1;
}

.we_2 {
    color: #414141;
    width: 56%;
    font-family: 'Aeonik';
    font-size: 17px;
}

.ui_2 {
    font-family: 'Aeonik';
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}

.learn {
    font-family: 'Aeonik';
    font-size: 22px;
    display: flex;
    align-items: center;
    font-weight: 800;
    padding-bottom: 10px;
    width: max-content;
    position: relative;
    cursor: pointer;
}


.learn_uni {
    align-items: center;
    display: flex;
}

.arrows_dad {
    overflow: hidden;
    width: 20px;
    height: 20px;
}

.arrows_2 {
    transition: all .2s linear;
    position: relative;
    gap: 5px;
    display: flex;
    left: -20px;
}

.box_1:hover .arrows_2{
    left: 2px;
}

.learn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 29px;
    left: 0;
    transform-origin: right;
    background-color: #101010;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.learn:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.middle {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #101010;
    padding-bottom: 60px;
}

.tail {
    width: 70%;
    padding-top: 120px;
    text-align: center;
    font-family: 'Aeonik';
    color: #fff;
    letter-spacing: -.02em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2;
    padding-left: 380px;
    margin-bottom: 60px;
    padding-bottom: 50px;
}

.boxes {
    display: flex;
    gap: 40px;
    border-bottom: 1px solid #f8f8f81a;
    padding-bottom: 60px;
}

.card_1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    border: 1px solid #f8f8f81a;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    transition: all .2s linear;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://cdn.prod.website-files.com/6705382c85d21c496de94fa5/676145493b3e4fc7108e77b6_shape-card-marketing.svg");
}
.mar {
    color: #f8f8f8;
    font-family: 'Aeonik';
    font-size: 36px;
    font-weight: 800;
    padding-top: 215px;
    margin-bottom: 50px;
}

.by {
    width: 75%;
    text-align: center;
    color: #c5c5c5;
    font-size: 16px;
    font-family: 'Aeonik';
    margin-bottom: 50px;
}

.see {
    font-size: 20px;
    font-family: 'Aeonik';
    color: #f8f8f8;
    padding-bottom: 50px;
}

.seee {
    position: relative;
    cursor: pointer;
}

.seee::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 29px;
    left: 0;
    transform-origin: right;
    background-color: #d4d3d3;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.seee:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}


.see i {
    position: relative;
    top: 4px;
}

.arrows_3 {
    transition: all .2s linear;
    position: relative;
    gap: 5px;
    display: flex;
    left: -20px;
}

.arrows_dad_3 {
    overflow: hidden;
    width: 20px;
    height: 62px;
}

.card_2:hover .arrows_3{
    left: 2px;
}

.card_1:hover {
    filter: brightness(0.5);
    transition: all .2s linear;
}

.card_2:hover {
    filter: brightness(0.5);
    transition: all .2s linear;
}

.card_1:hover .arrows_3{
    left: 2px;
}

.card_2 {
    display: flex;
    width: 100%;
    transition: all .2s linear;
    flex-direction: column;
    height: 100%;
    border: 1px solid #f8f8f81a;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://cdn.prod.website-files.com/6705382c85d21c496de94fa5/67653011709899337a65ff03_shape-enterprise-offer-digidop.svg");
}

.mar_2 {
    color: #fff;
    font-family: 'Aeonik';
    font-size: 36px;
    font-weight: 800;
    padding-top: 215px;
    margin-bottom: 50px;
}

.by_2 {
    color: #c5c5c5;
    font-size: 16px;
    font-family: 'Aeonik';
    margin-bottom: 50px;
    width: 77%;
    text-align: center;
}

.see_2 {
    font-size: 20px;
    font-family: 'Aeonik';
    color: #f8f8f8;
    padding-bottom: 50px;
}

.see_2 i {
    position: relative;
    top: 4px;
}

.mem {
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: column;
    background-color: #101010;
}

.bnum, .snum {
    font-size: 16px; /* Shriftni aniq bir qiymatga moslang */
    font-weight: 400;
    line-height: 1.5;
}

.bnum, .snum {
    font-size: inherit; /* Matnning asosiy o'lchamini saqlaydi */
    font-weight: normal; /* Kattaroq shrift og'irligini kamaytiradi */
}

.wew {
    padding-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wew p {
    width: 42%;
    color: #F8F8F8;
    font-size: 48px;
    font-family: 'Aeonik';
}

.line {
    border-bottom: 1px solid #414141;
}

.box_link {
    border: 1px solid #101010;
    border-radius: 7px;
    padding: 17px;
    margin: 50px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    transition: all .4s;
}

.box_link:hover {
    border: 1px solid #f8f8f81a;
    transition: all .2s;
}

.big {
    width: 54%;
}

.big_img {
    border-radius: 7px;
    width: 100%;
}

.right_detail {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.imgs{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.imgs img {
    border-radius: 7px;
    width: 48%;
}

.dev {
    color: #F8F8F8;
    font-size: 22px;
    font-family: 'Aeonik';
}

.bs {
    display: flex;
}

.bnum {
    color: #F8F8F8;
    font-family: 'Aeonik';
    letter-spacing: 8px;
    font-size: 100px;
    font-weight: 600;
    border-bottom: 1px solid #f8f8f81a;
}

.snum {
    color: #F8F8F8;
    font-size: 16px !important;
    font-weight: 500;
    letter-spacing: 1px;
}

.vids {
    position: relative;
    top: -50px;
    background-color: #101010;
}

.her_dad {
    padding-top: 200px;
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.her {
    width: 36%;
    text-align: center;
    font-weight: 600;
    color: #F8F8F8;
    font-family: 'Aeonik';
    font-size: 48px;
}

.plus {
    gap: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.big_vid {
    margin-bottom: 30px;
    border-radius: 10px;
    width: 72%;
    overflow: hidden;
    border: 1.5px solid #414141; 
    position: relative;     
}

.uni::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 0%, #101010 100%);
    position: absolute;
    left: 0;
    top: -100%;
}

.uni {
    background-color: #101010;
    padding: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 6;
}

.middle_vid {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 28%;
}

.small_vid {
    position: relative;
    object-fit: cover;
    width: 80%;
    height: 234px;
    border-radius: 10px;
    border: 1.5px solid #414141;
}

.growl_img {
    position: relative;
}

.growl_img img {
    position: absolute;
    width: 48px;
    height: 48px;
    top: -310px;
    left: 420px;
}

.icon {
    position: relative;
}

.icon img {
    position: absolute;
    width: 36px;
    height: 36px;
    bottom: 100px;
    left: 115px;
}

.div_img1 {
    position: relative;
}

.div_img2 {
    position: relative;
}

.div_img1::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 0%, #101010 100%);
    position: absolute;
    z-index: 3;
    left: 0;
    top: -4px;
}

.samy {
    position: relative;
    display: flex;
    gap: -20px;
    flex-direction: column;
}

.name {
    position: absolute;
    font-size: 16px;
    font-family: 'Aeonik';
    color: #F8F8F8;
    left: 80px;
    bottom: 45px;
    z-index: 10; 
}

.who {
    position: absolute;
    color: #c5c5c5;
    font-size: 14px;
    font-family: 'Aeonik', sans-serif;
    z-index: 10; 
    left: 15px;
    bottom: 25px;
}


.sam_who {
    position: absolute;
    color: #c5c5c5;
    font-size: 14px;
    font-family: 'Aeonik', sans-serif;
    z-index: 10; 
    left: 75px;
    bottom: 25px;
}

.div_img2::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 0%, #101010 100%);
    position: absolute;
    z-index: 3;
    left: 0;
    top: -4px;
}

.gro {          
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.what {
    font-family: 'Aeonik';
    color: #f8f8f8;
    font-size: 24px;
    margin-bottom: 25px;
}

.div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author {
    font-size: 16px;
    font-family: 'Aeonik', sans-serif;
    color: #F8F8F8;
}

.job {
    color: #c5c5c5;
}

.gro_logo {
    width: auto;
    height: 2.25rem;
}

.work_box_dad {
    position: relative;
    bottom: 50px;
    background-color: #101010;
    padding-bottom: 96px;
}

.work_box {
    padding: 30px 0;
    background-color: #101010;
    background-image: url(https://cdn.prod.website-files.com/6705382c85d21c496de94fa5/6769e618d051a8507b832eed_shape-cta2-digi.svg);
    background-repeat: no-repeat;
    border: 1px solid #414141;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.work_box p {
    width: 50%;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Aeonik';
    font-weight: 900;
    color: #F8F8F8;
}

.work_box button {
    border-radius: 5px;
    border: none;
    font-family: 'Aeonik', sans-serif;
    padding: .625rem 1.25rem;
    font-size: var(--link-color--link-alternate);
}

.all {
    position: relative;
    bottom: 50px;
    background-color: #101010;
    padding-top: 96px;
    padding-bottom: 130px;
}

.there {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 35px;
}

.there p {
    width: 50%;
    font-size: 48px;
    color: #f8f8f8;
    font-family: 'Aeonik', sans-serif;
}

.symbols {
    grid-column-gap: 1.5rem;
    grid-row-gap: 3rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.vauling {
    padding: 1.25rem 1rem;
    grid-row-gap: 1rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.b_bottom, .b_bottom-white, .b_right, .b_right-white {
    position: absolute;
    
}

.b_bottom, .b_right {
    background: #252525;

}

.b_bottom-white, .b_right-white {
    background: #4c4b49;

}

.b_bottom {
    width: 100%;
    height: 1px;
    bottom: -1.50rem;
    left: 2.5%;
}

.b_right {
    width: 1px;
    height: 90%;
    right: -1.50rem;
    bottom: 5%;
}

.b_bottom-white {
    width: 45%;
    height: 1.5px;
    bottom: -1.50rem;
    right: -2.5%;
    max-width: 100%;
}

.b_bottom-whites {
    position: absolute;
    width: 0%;
    height: 1.5px;
    background-color: #4c4b49;
    bottom: -1.50rem;
    left: 10px;
    max-width: 100%;
}

.b_bottom-whitet {
    position: absolute;
    width: 45%;
    height: 1.5px;
    background-color: #4c4b49;
    bottom: -1.50rem;
    right: -0.7rem;
    max-width: 100%;
}

.b_right-white {
    width: 1.5px;
    height: 0;
    right: -1.50rem;
    bottom: 5%;
    max-height: 100%;
}

.b_right-whites {
    background-color: #4c4b49;
    position: absolute;
    width: 1.5px;
    height: 0;
    right: -1.50rem;
    top: 0;
    max-height: 100%;
}

.vauling img{
    width: 44px;
    height: 44px;
}

.vauling p {
    font-size: 24px;
    color: #F8F8F8;
    font-family: 'Aeonik', sans-serif;
}

.bgc {
    position: relative;
    display: flex;
    justify-content: space-between;
    bottom: 50px;
    width: 100%;
    height: 455px;
    padding-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #101010;
    background-image: url(https://cdn.prod.website-files.com/6705382c85d21c496de94fa5/673da52ca62154110a9f8801_shape-kpi.svg);
    
    padding: 0 120px;
}

.bgcb {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-bottom: 100px;
}

.bgci {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bgc_spans {
    font-size: 158px;
    color: #F8F8F8;
    font-family: 'Aeonik', sans-serif;  
}

.bgc_p {
    color: #F8F8F8;
    font-size: 12.5rem;
    font-family: 'Aeonik', sans-serif;
}

.four{
    position: relative;
}

.nine {
    position: relative;
}

.nine::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 180px;
    top: 10px;
    left: -15px;
    background: linear-gradient(216deg, transparent 38%, #101010 80%);
}

.four::after {
    content: "";
    width: 100%;
    height: 180px;
    top: 10px;
    left: 35px;
    position: absolute;
    background: linear-gradient(134deg, transparent 38%, #101010 80%);

}

.nom {
    font-size: 18px;
    color: #F8F8F8;
    font-family: 'Aeonik', sans-serif;
}

.bgc::after {
    content: "";
    width: 1401px;
    height: 100px;
    position: absolute;
    background: linear-gradient(0deg, transparent 0%, rgba(255,255,255,0) 26%, #101010 70%);
}

.social i {
    color: #F8F8F8;
    transition: all .2s linear;
}

.color {
    color: #c5c5c5 !important;
    transition: all .2s linear;
}


.bgc::before {
    content: "";
    width: 89%;
    top: 355px;
    height: 100px;
    position: absolute;
    background: linear-gradient(transparent 0%, rgba(255,255,255,0) 26%, #101010 70%);;
}

.wrapper {
    position: relative;
    top: -50px;
    padding-top: 100px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new_web {
    letter-spacing: -.02em;
    line-height: 1.2;
    width: 53%;
    font-size: 48px;
    color: #f8f8f8;
    font-weight: 500;
    font-family: 'Aeonik', sans-serif;
    text-align: center;
    margin-bottom: 35px;
}

.since {
    width: 36%;
    text-align: center;
    font-size: 18px;
    color: #c5c5c5;
    font-family: 'Aeonik', sans-serif;
    margin-bottom: 35px;
}

.discover {
    cursor: pointer;
    position: relative;
    font-size: 20px;
    color: #F8F8F8;
    font-family: 'Aeonik', sans-serif;
    margin-bottom: 35px;
}

.arrows_dad_4 {
    overflow: hidden;
    width: 20px;
    height: 50px;
}

.arrows_4 {
    transition: all .2s linear;
    position: relative;
    gap: 5px;
    display: flex;
    left: -20px;
}

.wrapper .learn_uni:hover .arrows_4{
    left: 2px;
}

.discover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 29px;
    left: 0;
    transform-origin: right;
    background-color: #f8f8f8;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.discover:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.discover i{
    font-weight: 100;
    font-size: 27px;
    position: absolute;
    bottom: -4px;
}

.dig {
    position: relative;
    width:75%;
    font-weight: 600;
    font-size: 35px;
    color: #F8F8F8;
    font-family: 'Aeonik', sans-serif;
    margin-bottom: 35px;
    z-index: 1;
}

.wrapper_dad {
    position: relative;
    background: url(https://cdn.prod.website-files.com/67053868fc01e494462e71c9/67765282d557d8142e1e1130_og-flow-conf.jpg);
    height: 790px;
    width: 100%;
    line-height: 47px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    justify-content: flex-end;
}

.img_wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper_dad::after {
    content: "";
    width: 429px;
    height: 200px;
    position: absolute;
    top: 0;
    background: linear-gradient(0deg, transparent 0%, rgba(255,255,255,0) 26%, #101010 70%);
}

.wrapper_dad::before {
    content: "";
    width: 429px;
    bottom: 0;
    height: 400px;
    position: absolute;
    background: linear-gradient(transparent 0%, rgba(255,255,255,0) 26%, #101010 70%);;
}

.ims {
    display: flex;
    align-items: center;
}

.ims img {
    z-index: 1;
}

.ims span {
    z-index: 100;
    color: #F8F8F8;
    font-family: 'Aeonik', sans-serif;
    font-size: 24px;
}

.all_circle {
    display: flex;
    gap: 35px;
    margin-right: 120px;
}

.circle_img {
    margin-top: 165px;
    z-index: 1;
    position: relative;
    border-radius: 50%;
    /* border: 2px solid rgb(255, 217, 0); */
    width: 48px;
    padding: 2px;
    height: 48px;
    object-fit: cover;
}

.circle_img::after {
    content: "";
    background: linear-gradient(45deg, #ffff00 16.67%, #ff0000 60%);
    position: absolute;
    width: 500pc;
    height: 500px;
}

.ch_dad {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ch {
    font-size: 48px;
    font-family: 'Aeonik', sans-serif;
    color: #F8F8F8;
}

.check {
    position: relative;
    top: -50px;
    background-color: #101010;
    padding-bottom: 100px;
}

.ch {
    margin-top: 100px;
    margin-bottom: 50px;
}

.resources {
    width: 100%;
    display: flex;
    gap: 20px;
}

.resources::after {
    content: "";
    position: absolute;
    width: 84%;
    height: 1px;
    background-color: #414141;
    left: 0;
    bottom: -85px;
}

.res {
    border: 1px solid #414141;
    width: 33.3%;
    height: 501px;
    border-radius: 10px;
}


.tag {
    width: max-content;
    color: #101010;
    position: absolute;
    font-weight: 100;
    font-family: 'Aeonik', sans-serif;
    font-size: 14px;
    z-index: 1;
    border-radius: 50px;
    background-color: #f8f8f8;
    padding: 5px 8px;
    transform: translateY(20px) translateX(20px);
}

.yellow {
    position: relative;
}

.yellow::after {
    content: "";
    position: absolute;
    width: 100%;
    border-radius: 10px;
    height: 75%;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent 0%, rgba(16, 16, 16, 0.036) 37%, #101010 77%);
}

.f_web {
    transform: translateX(20px) translateY(-150px);
    font-size: 34px;
    font-weight: 900;
    font-family: 'Aeonik', sans-serif;
    color: #f8f8f8;
}



.f_dad {
    transform: translateX(20px) translateY(-175px);
    width: 70%;
}

.s_get {
    transform: translateX(20px) translateY(-130px);
    font-family: 'Aeonik', sans-serif;
    font-size: 16px;
    color: #c5c5c5;
}

.s_dad {
    transform: translateX(20px) translateY(-160px);
}

.two_uni {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.first_card {
    position: relative;
    border: 1px solid #414141;
    border-radius: 10px;
}

.first_card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 180px;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(transparent 0%, rgba(16, 16, 16, 0.036) 40%, #101010 77%);
}

.pic {
    border-radius: 10px;
    height: 100%;
}

.tag_s {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px 8px;
    border-radius: 50px;
    background-color: #F8F8F8;
}

.webinar {
    color: #101010;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Aeonik', sans-serif;
}

.cyber {
    position: absolute;
    bottom: 50px;
    left: 20px;
    font-weight: 600;
    color: #f8f8f8;
    font-family: 'Aeonik', sans-serif;
    font-size: 26px;
    z-index: 1;
}

.b_link {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #c5c5c5;
    font-family: 'Aeonik', sans-serif;
    font-size: 17px;
    z-index: 1;
}

.seeing {
    color: #F8F8F8;
    font-size: 26px;
    font-family: 'Aeonik', sans-serif;
    font-weight: 900;
    position: absolute;
    left: 79.3%;
    text-decoration: none;
    bottom: 13px;
}

.allres {
    position: relative;
}

.allres::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transform-origin: right;
    background-color: #f8f8f8;
    border-radius: 5px;
    transform: scaleX(0);
    z-index: 2;
    transition: transform .5s;
}

.seeing:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.seeing {
    display: flex;
    gap: 10px;
}

.seeing i {
    position: relative;
    top: 5px;
    left: -5px;
    z-index: 2;
}

.biggest {
    top: -50px;
    position: relative;
    background-color: #101010;
}

.biggest::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 300px;
    background: linear-gradient(0deg, transparent 0%, rgba(16, 16, 16, 0.036) 0%, #101010 24%);
}

.biggest img {
    width: 100%;
}

.want {
    font-weight: 900;
    width: 45%;
    text-align: center;
    position: absolute;
    bottom: 200px;
    left: 480px;
    color: #F8F8F8;
    font-size: 48px;
    font-family: 'Aeonik', sans-serif;
}

.contacting {
    position: absolute;
    font-weight: 900;
    text-align: center;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    bottom: 145px;
    left: 685px;
    color: #101010;
    font-size: 16px;
    font-family: 'Aeonik', sans-serif;
}

footer {
    position: relative;
    top: -50px;
    padding-top: 100px;
    background-color: #101010;
}

.f_uni {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 200px;
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.f_t {
    width: 52%;
    text-align: left;
    color: #F8F8F8;
    font-size: 18px;
    font-family: 'Aeonik', sans-serif;
}

.social {
    display: flex;
    gap: 1rem;
}

.social i {
    font-size: 25px;
}

.reg {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.st {
    width: 58%;
    font-size: 16px;
    color: #c5c5c5;
    font-family: 'Aeonik', sans-serif;
}

.inn {
    display: flex;
    gap: 10px;
}

.sub_btn {
    border: none;
    background: none;
    position: relative;
    color: #F8F8F8;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Aeonik', sans-serif;
}

.sub_btn::after {
    content: "";
    position: absolute;
    background-color: #F8F8F8;
    width: 100%;
    height: 1px;
    top: 32px;
    left: 0;
}

input:focus {
    outline: none;
}

.stin {
    width: max-content;
    border-left: none;
    border-right: none;
    border-top: none;
    color: #F8F8F8;
    border-bottom: 1px solid #414141;
    font-size: 21px;
    font-family: 'Aeonik', sans-serif;
    padding: 4px 0;
    background: transparent;
}

.s_uni {
    display: flex;
    justify-content: space-between;
} 

.t_pic{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.picc {
    border: 1px solid #414141;
    border-radius: 5px;
    width: 446px;
    height: 158px;
}

.webflow {
    font-size: 24px;
    color: #f8f8f8;
    font-family: 'Aeonik', sans-serif;
    font-weight: 900;   
    left: 120px;
    bottom: 260px;
    position: absolute;
}

.webflows {
    font-size: 24px;
    color: #f8f8f8;
    font-family: 'Aeonik', sans-serif;
    font-weight: 900;
    left: 120px;
    bottom: 78px;
    position: absolute;
}

.big_scale {
    color: #c5c5c5;
    font-size: 16px;
    font-family: 'Aeonik', sans-serif;
    position: absolute;
    left: 100px;
    bottom: 225px;
}

.big_scales {
    color: #c5c5c5;
    font-size: 16px;
    font-family: 'Aeonik', sans-serif;
    position: absolute;
    left: 100px;
    bottom: 50px;
} 

.big_scale i {
    position: relative;
    font-size: 21px;
    top: 5px;
}

.big_scales i {
    position: relative;
    font-size: 21px;
    top: 5px;   
}

.abouts {
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
}

.word {
    font-family: 'Aeonik', sans-serif;
    font-size: 24px;
    color: #f8f8f8;
}

.c_uni {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.clock {
    display: flex;
    flex-direction: column;
}

#clocks, #clocks_tor, #clocks_orl {
    font-size: 18px;
    font-family: 'Aeonik', sans-serif;
    color: #f8f8f8;
}

.unii {
    gap: 5px;
    display: flex;
    /* margin-bottom: 10px; */
}

.p {
    color: #f8f8f8;
    font-family: 'Aeonik', sans-serif;
    font-size: 18px;
}

.in {
    color: #c5c5c5;
    font-size: 18px;
    font-family: 'Aeonik', sans-serif;
}

.diva {
    padding-bottom: 20px;
    background-color: #101010;
    padding-top: 50px;
    width: 100%;
}

.divs {
    padding-top: 50px;
    border-top: 1px solid #414141;
    display: flex;
    justify-content: space-between;
}

.three {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.diva p {
    color: #c5c5c5;
    font-family: 'Aeonik', sans-serif;
    font-size: 14px;
}


@media (max-width: 440px) {

    nav {
        width: 100%;
        background-color: #101010;

        padding: 1rem 1.25rem;
        display: flex;
        justify-content: space-between;
        margin-bottom: 580px;
    }

    .burger {
        width: 10px;
        display: flex;
        flex-direction: column;
        padding: 20px 25px;
        border-radius: 50px;
        gap: 4px;
    }

    .burger:hover {
        background-color: #5757576a;
    }
    
    .st, .nd, .rd, .st2, .nd2, .rd2 {
        transition: all .5s ease;
    }
    
    .nd2 {
        margin: 0 auto;
    }
    
    .line {
        width: 21px;
        height: 3px;
        border-radius: 50px;
        background-color: #f8f8f8;
    }

    .burgermove {
        margin-bottom: 1000px;
    }
    
    .stmove {
        transform: rotate(45deg) translate(-5px, 5px);
        transform-origin: top left;
        transition: all .5s ease;
    }
    
    .rdmove {
        transform: rotate(-45deg) translate(-5px, -5px);
        transform-origin: bottom left;
        transition: all .5s ease;
    }
    
    .ndmove {
        width: 0;
        opacity: 0;
    }

    nav p, button {
        display: none;
    }

    body {
        width: 100%;
        overflow-x: hidden;
        background-color: #101010;
    }

    .part {
        width: 100%;
        color: #fff;
        font-weight: 900;
        font-family: 'Aeonik';
        font-size: 40px;
        margin-bottom: 25px;
    }

    .nav_box1 img {
        width: 120px;
        height: auto;
    }

    .nav_box2 i {
        display: block;
        font-size: 30px;
    }

    .container{
        padding: 0 1.25rem;
    }

    .imguni {
        width: auto;
        height: 24px;
    }

    .award {
        width: 36%;
        font-size: 16px;
    }

    .award::after {
        position: absolute;
        content: "";
        display: inline-block;
        background-color: #c5c5c5;
        width: 250px;
        height: 0.1px;
        bottom: -25px;
        right: 107px;
    }

    .awardplcon {
        display: flex;
        float: left;
        margin-bottom: 70px;   
        width: 100%;
    }

    .uni_imgs {
        display: none;
    }

    .btn_arrow {
        overflow: hidden;
        width: 20px;
        position: absolute;
        right: 43px;
        bottom: 252px;
    }

    .slider {
        animation: slider linear infinite 200s;
        color: #fff;
        font-size: 16px;
        white-space: nowrap;
        font-family: 'Aeonik';
        display: flex
    ;
        gap: 49px;
    }

    .wrapper_dad::after {
        content: "";
        width: 429px;
        height: 200px;
        position: absolute;
        top: 0;
        background: linear-gradient(0deg, transparent 0%, rgba(255,255,255,0) 26%, #101010 70%);
    }
    
    .wrapper_dad::before {
        content: "";
        width: 429px;
        bottom: 0;
        height: 400px;
        position: absolute;
        background: linear-gradient(transparent 0%, rgba(255,255,255,0) 26%, #101010 70%);;
    }

    .inf {
        width: max-content;
    }

    .main {
        width: 100%;
    }


    .contact {
        position: relative;
        font-family: 'Aeonik', sans-serif;
        color: #f8f8f8;
        left: 234px;
        bottom: 9px;
        font-size: 16px;
    }

    .dig_video {
        border: 1px solid #c5c5c5;
        border-radius: 3px;
    }

    .with p {
        display: none;
        width: 100%;
        text-align: center;
        padding-left: 0;
        font-family: 'Aeonik';
        font-weight: 600;
        color: #000;
        font-size: 32px;
    }

    .tail {
        width: 100%;
        padding-top: 120px;
        text-align: center;
        font-family: 'Aeonik';
        color: #fff;
        letter-spacing: -.02em;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 32px;
        font-weight: 500;
        line-height: 1.2;
        padding-left: 0;
        margin-bottom: 60px;
        padding-bottom: 50px;
    }
    
    .boxes {
        display: flex;
        flex-direction: column;
        gap: 40px;
        border-bottom: 1px solid #f8f8f81a;
        padding-bottom: 60px;
    }

    .box_1 {
        display: none;
    }

    .we p {
        width: 80%;
        padding: 0 1.25rem;
        text-align: center;
        color: #F8F8F8;
        font-size: 2rem;
        font-family: 'Aeonik';
    }

    .imgs {
        display: none;
    }

    .big {
        width: 100%;
    }

    .dev {
        width: 195%;
        color: #F8F8F8;
        font-size: 18px;
        font-family: 'Aeonik';
    }

    .bnum {
        color: #F8F8F8;
        font-family: 'Aeonik';
        letter-spacing: 1px;
        font-size: 3.5rem;
        font-weight: 600;
        border-bottom: 1px solid #f8f8f81a;
    }

    .her {
        width: 100%;
        text-align: center;
        font-weight: 600;
        color: #F8F8F8;
        font-family: 'Aeonik';
        font-size: 32px;
    }

    .snum {
        color: #F8F8F8;
        font-size: 16px;
        white-space: nowrap;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .box_link {
        border: 1px solid #101010;
        border-radius: 7px;
        padding: 17px;
        margin: 50px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        transition: all .4s;
    }

    .none {
        display: none;
    }

    .what, .div1 img {
        display: none;
    }

    

    .plus {
        gap: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 1.25rem 0;
    }
    
    .middle_vid {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }

    .small_vid {
        width: 100%;
    }
    
    .big_vid {
        width: 100%;
        margin-bottom: 0;
        border: none;
    }  
    
    .icon img {
        left: 175px;
    }

    .marie {
        position: relative;
        left: 56px;
    }

    .uni {
        background: none;
    }

    .author {
        width: 250%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 133px;
        bottom: 21px;
        font-size: 12.8px;
    }

    .uni::after {
        display: none;
    }

    .name, .who {
        font-size: 12.8px;
    }

    .work_box {
        height: 190px;
        filter: brightness(0.8);
        gap: 1.5rem;
    }

    .work_box p {
        width: 82%;
        text-align: center;
        filter: none;
        font-size: 24px;
        font-family: 'Aeonik', sans-serif;
        font-weight: 500;
        color: #F8F8F8;
    }

    .work_box button {
        display: block;
        font-size: 16px;
        font-family: 'Aeonik', sans-serif;
        filter: none;
        padding: .625rem 1.25rem;
    }

    .vauling p {
        text-align: center;
    }

    .there {
        display: flex;
        justify-content: start;
    }

    .vauling p {
        font-size: 18px;
    }

    .symbols {
        grid-template-columns: 1fr 1fr;
    }

    .there p {
        width: 76%;
        font-size: 32px;
        text-align: left;
    }

    .bx-center-white {
        left: 0;
        bottom: -111px;
        z-index: 1;
    }

    .b_center-whites {
        left: 125px;
    }

    .b_right_center {
        width: 80%;
        height: 1px;
        bottom: -23px;
        left: 23px;
    }

    .b_right-whites__center{
        width: 45%;
        height: 1.5px;
        bottom: -23px;
        left: 24px;
    }

    .b_bottom_center {
        left: 25px;
        width: 80%;
    }

    .b_bottom-whitet {
        left: 27px;
    }

    .b_center {
        left: 0;
        bottom: -175px;
    }

    .bgc {
        display: flex;
        flex-direction: column;
    }

    .bgc p {
        font-size: 9.5rem;
    }

    .bgc_p {
        font-size: 9.5rem;
    }

    .bgci {
        left: -107px;
        top: -125px;
    }

    .nine::before {
        left: -28px;
        top: -38px;
        width: 112%;
    }

    .bgc::before {
        left: 0;
        top: 403px;
        width: 400px;
    }

    .bgc::after {
        left: 0;
        top: -1px;
        width: 400px;
    }

    .bgcb {
        top: 0;
        left: -107px;    
    }

    .bgc_spans {
        font-size: 150px;
    }

    .nine {
        font-size: 150px !;
    }

    .four::after {
        top: -28px;
    }

    .nom {
        font-size: 11px !important;
        z-index: 2;
        position: relative;
        width: 107px;
        bottom: 20px;
        left: -25px;
        text-align: center;
    }

    .bgc{
        width: 100%;
        height: 500px;
        object-fit: cover;
        background-image: url(https://cdn.prod.website-files.com/6705382c85d21c496de94fa5/6769e88078ef27271a697b01_shape-kpi-mobile.svg);
    }

    .new_web {
        font-size: 32px;
        width: 91%;
        text-align: left;
    }

    .since {
        font-size: 18px;
        width: 92%;
        text-align: left;
    }

    .learn_uni {
        justify-content: start;
    }

    .dig {
        font-size: 18px;
        line-height: 1;
        width: 100%;
    }

    .resources {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .two_uni {
        width: 100%;
    }

    .f_web {
        font-size: 1.25rem;
    }

    .res {
        width: 100%;
        height: 29rem;

    }

    .allres {
        font-size: 18px;
        white-space: nowrap;
        left: -71px;
        top: 10px;
    }

    .biggest::before {
        height: 52px;
    }

    .seeing i {
        top: 8px;
        left: -80px;
    }

    .resources::after {
        left: 25px;
        width: 46%;
    }

    .want {
        font-size: 1.5rem;
        width: 27rem;
        height: 19rem;
        left: 0rem;
        bottom: -165px;
    }

    .seeing {
        left: 19rem;
    }

    .logo img {
        width: 144px;
    }

    .f_t {
        font-size: 16px;
        width: 17rem;
    }

    .logo {
        margin-bottom: 2rem;
    }

    .sub_btn {
        display: block;
    }

    .stin {
        width: 100%;
    }

    .s_uni {
        flex-direction: column;
    }

    .diva {
        display: none;
        bottom: 0;
    }

    .picc {
        width: 100%;
    }

    .f_uni {
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .cyber {
        font-size: 1.125rem;
        width: 84%;
    }

    .contacting {
        display: block;
        left: 130px;
        bottom: 27px;
    }

    .f_dad {
        transform: translateX(20px) translateY(-118px);
    }

    .s_dad {
        transform: translateX(20px) translateY(-100px);
    }

    .yellow::after {
        bottom: 4px;
    }

    .yellow img {
        border-radius: 10px;
        height: 462px;
    }

    .ims span {
        font-size: 14px;
    }

    .ims img {
        width: 63px;
    }

    .discover {
        font-size: 18px;
    }

    .all_circle {
        display: none;
    }
}
